@{
    Layout = "_Layout";
    ViewBag.Title = $"Change Username";
}

<h2>Change username</h2>

<form asp-action="changeUsername" method="post">
    <label for="username">Enter new username:</label>
    <input type="text" name="username" placeholder="current: @User.Identity.Name" />
    <button class="btn btn-dark" type="submit">Submit changes</button>
</form>

<a asp-action="admin">Cancel</a>